



<%-include('../partials/admin/header')  %>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post" action="/admin/addCategory" onsubmit="return handleFormSubmit(event)">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" name="name" placeholder="Type here" class="form-control" id="product_name" />
                                    <div id="name-error" class="error-message"></div>
                                </div>
                             
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea id="descriptionId" placeholder="Type here" name="description" class="form-control"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                           
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>List/Unlist</th>
                                            <th class="text-center">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%cat.reverse().forEach((category,index)=>{ %>
                                        <tr>
                                            
                                            <td><b><%=category.name%></b></td>
                                            <td><%=category.description%></td>
                                            <td> 
                                                <% if (category.isListed) { %>
                                                    <span class="badge bg-success">Listed</span>
                                                <% } else { %>
                                                    <span class="badge bg-danger">Unlisted</span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if (category.isListed) { %>
                                                    <button class="btn btn-danger btn-sm" onclick="conformAction('<%=category._id%>','list')">
                                                        
                                                        List
                                                        <!-- <a href="/admin/listCategory?id=<%=category._id%>" class="text-white" style="text-decoration: none;"></a> -->
                                                    </button>
                                                <% } else { %>
                                                    <button class="btn btn-success btn-sm" onclick="conformAction('<%=category._id%>','unList')">
                                                        Unlist
                                                        <!-- <a href="/admin/unListCategory?id=<%=category._id%>" class="text-white" style="text-decoration: none;">Unlist</a> -->
                                                    </button>
                                                <% } %>
                                            </td>
                                           <td>
                                            <button class="btn btn-primary btn-sm">
                                            <a href="/admin/editCategory?id=<%=category._id%>" class="text-white" style="text-decoration: none;">Edit</a>
                                           </button>
                                           </td>
                                        </tr>
                                        
                                        <%})%>
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
            <div class="pagination-container">
                <nav aria-label="Page navigation">
                  <ul class="pagination justify-content-center mb-20">
                    <% if (currentPage > 1) { %>
                      <li class="page-item">
                        <a class="page-link" href="/admin/category?page=<%= currentPage - 1 %>">Previous</a>
                      </li>
                    <% } %>
                    
                    <% for (let i = 1; i <= totalPages; i++) { %>
                      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                        <a class="page-link" href="/admin/category?page=<%= i %>"><%= i %></a>
                      </li>
                    <% } %>
                    
                    <% if (currentPage < totalPages) { %>
                      <li class="page-item">
                        <a class="page-link" href="/admin/category?page=<%= currentPage + 1 %>">Next</a>
                      </li>
                    <% } %>
                  </ul>
                </nav>
              </div>
        </section> 




<%-include('../partials/admin/footer')  %>

<script>

    
function handleFormSubmit(event){

    event.preventDefault();
    if(!validForm()){
        return;
    }
    const name = document.getElementsByName('name')[0].value;
    const description = document.getElementById('descriptionId').value;

    $.ajax({
        url:`/admin/addCategory`,
        type:"POST",
        dataType:'json',
        contentType:'application/json',
        data:JSON.stringify({categoryName:name,description:description}),
   
        success:function(response){
if(response.success){
    Swal.fire({
                    toast:true,
                    position:'center',
                    icon:'success',
                    title:'Success',
                    text:response.message,
                    showConfirmButton:false,
                    timer:1500,
                    customClass:'center-toast',


                }) .then(() =>{
                    window.location.href=response.redirectURL;
                });
}
               
            },

            error: function(response) {

                Swal.fire({
                toast: true,
                position: 'top',
                icon: 'error',
                title: 'Error',
                text: 'Category name alredy exist',
                showConfirmButton: false,
                timer: 1500,
                customClass: 'center-toast',
            });
        }
   
    })


}


function validForm(){
    clearErrorMessage();
    const name = document.getElementsByName('name')[0].value.trim();
    const description = document.getElementById('descriptionId').value.trim();
    isValid=true;

    if(name===''){
        displayErrorMessage('name-error','Please Enter a name');
        isValid=false;
    }else if(!/^[a-zA-Z\s]+$/.test(name)){
        displayErrorMessage('name-error','Category should contain only Alphabetic Charecters');
        isValid=false;  
    }

    if(description===''){
        displayErrorMessage('description-error',"Please enter a desacription");
        isValid=false;
    }
    return isValid;
}

function displayErrorMessage(elementId,message){
    var errorElement = document.getElementById(elementId);
    errorElement.innerHTML=message;
    errorElement.style.display='block';
}

function clearErrorMessage(){
    const errorElements = document.getElementsByClassName('error-message');
    Array.from(errorElements).forEach((element) =>{
        element.innerHTML='';
        element.style.display='none';
    });
}


</script>



<script>

    function conformAction(categoryId,action){

        Swal.fire({
      title:'Are you Sure?',
      text:'Please click Sure To Proceed',
      icon:'Warning',
      showCancelButton: true,
      cancelButtonColor: '#6c757d',
      confirmButtonText:'Sure',
      cancelButtonText:'Cancel',
    }).then((result) =>{
      if(result.isConfirmed){
        window.location.href=`/admin/${action}Category?id=${categoryId}`
                       
      }
    });

  }

    
</script>